<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="adobereader" />
    <package id="dropbox" />
    <package id="firefox" />
    <package id="googlechrome" />
    <package id="microsoft-edge" />
    <package id="microsoft-teams" />
    <package id="office365proplus" />
    <package id="paint.net" />
    <package id="powerbi" />
    <package id="powertoys" />
    <package id="syspin" />
</packages>