<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="azcopy10" />
    <package id="azure-cli" />
    <package id="azure-data-studio" />
    <!-- package id="azure-documentdb-emulator" /-->
    <package id="azure-functions-core-tools" packageParameters="/x64:true"/>
    <!-- package id="azurepowershell" /-->
    <package id="azurestorageemulator" />
    <package id="beyondcompare" />
    <package id="cascadiacode" />
    <package id="cascadiacodepl" />
    <package id="chocolateygui" />
    <!-- package id="conemu" /-->
    <package id="curl" />
    <package id="docker-desktop" />
    <package id="dotnet-sdk" />
    <!-- package id="dotnetcore-sdk" /-->
    <!-- <package id="fiddler" /> -->
    <package id="font-awesome-font" />
    <package id="gh" />
    <package id="gimp" />
    <package id="git" />
    <package id="git-credential-manager-for-windows" />
    <package id="github-desktop" />
    <package id="graphviz" />
    <!-- package id="iperf3" /-->
    <!-- package id="ilspy" /-->
    <package id="jq" />
    <package id="keepassxc" />
    <!-- <package id="keyboard-layout-creator" /> -->
    <package id="kubernetes-cli" />
    <package id="kubernetes-helm" />
    <!-- package id="linqpad" /-->
    <package id="microsoftazurestorageexplorer" />
    <!-- <package id="microsoft-windows-terminal" /> -->
    <package id="nerdfont-hack" />
    <!-- <package id="openjdk" /> -->
    <!-- package id="openssh" /-->
    <!-- <package id="openssl" /> -->
    <!-- package id="openvpn" /-->
    <package id="packer" />
    <package id="postman" />
    <package id="powershell-core" />
    <!-- package id="powertoys" / -->
    <package id="putty" />
    <!-- package id="python2" /-->
    <!-- package id="python3" /-->
    <package id="servicebusexplorer" />
    <!-- package id="sqlite" / -->
    <package id="sql-server-management-studio" />
    <package id="sqlserver-cmdlineutils" />
    <package id="sysinternals" />
    <package id="syspin" />
    <package id="tcping" />
    <package id="terraform"/>
    <package id="tflint" />
    <package id="typescript" />
    <!-- <package id="visualstudio2022enterprise" />
    <package id="visualstudio2022-workload-azure" />
    <package id="visualstudio2022-workload-netcrossplat" />
    <package id="visualstudio2022-workload-netweb" /> -->
    <package id="wget" />
    <!-- <package id="windows-admin-center" /> -->
    <!-- package id="wireshark" /-->
    <!-- package id="zap" / -->
    <package id="7zip" />
</packages>
