<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="armclient" />
    <package id="awscli" />
    <package id="azcopy" />
    <package id="azcopy10" />
    <package id="azure-cli" />
    <package id="azure-data-studio" />
    <!--package id="azure-documentdb-emulator" /-->
    <package id="azure-functions-core-tools" packageParameters="/x64:true"/>
    <!--package id="azurepowershell" /-->
    <package id="azurestorageemulator" />
    <package id="bosh-cli" />
    <package id="cascadiacode" />
    <package id="cascadiacodepl" />
    <package id="chocolateygui" />
    <package id="cloudfoundry-cli" />
    <package id="conemu" />
    <package id="curl" />
    <package id="docker-desktop" />
    <package id="dotnet3.5" />
    <package id="dotnet-sdk" />
    <package id="dotnetcore-sdk" />
    <package id="draft" />
    <package id="fiddler" />
    <package id="font-awesome-font" />
    <package id="gh" />
    <package id="gimp" />
    <package id="git" />
    <package id="github-desktop" />
    <package id="graphviz" />
    <package id="iperf3" />
    <package id="ilspy" />
    <!--package id="javaruntime" /-->
    <package id="jq" />
    <!-- <package id="keepassx" /> -->
    <package id="keepassxc" />
    <package id="keyboard-layout-creator" />
    <package id="kubernetes-cli" />
    <package id="kubernetes-helm" />
    <package id="linqpad" />
    <package id="microsoftazurestorageexplorer" />
    <!--package id="microsoft-edge" /-->
    <package id="microsoft-windows-terminal" />
    <!--package id="Microsoft-Hyper-V" source="windowsfeatures" /-->
    <package id="minikube" />
    <!--package id="multimc" /-->
    <!--package id="nmap" /-->
    <package id="nerdfont-hack" />
    <package id="openjdk" />
    <!--package id="openssh" /-->
    <package id="openssl" />
    <!--package id="openvpn" /-->
    <package id="packer" />
    <package id="postman" />
    <package id="powershell-core" />
    <package id="powertoys" />
    <package id="pulumi" />
    <package id="putty" />
    <!--package id="python2" /-->
    <!--package id="python3" /-->
    <package id="servicebusexplorer" />
    <package id="sqlite" />
    <package id="sql-server-management-studio" />
    <package id="sqlserver-cmdlineutils" />
    <package id="sysinternals" />
    <package id="syspin" />
    <package id="tcping" />
    <package id="terraform"/>
    <package id="tflint" />
    <package id="typescript" />
    <!--package id="unity" />
    <package id="unity-hub" /-->
    <package id="vscode" />
    <!--package id="vscode-ansible" /-->
    <package id="vscode-azure-deploy" />
    <package id="vscode-azurerm-tools" />
    <package id="vscode-csharp" />
    <package id="vscode-docker" />
    <package id="vscode-gitignore" />
    <!--package id="vscode-gitlens" /-->
    <package id="vscode-kubernetes-tools" />
    <package id="vscode-mssql" />
    <package id="vscode-vsonline" />
    <package id="vscode-pull-request-github" />
    <package id="vscode-powershell" />
    <package id="vscode-yaml" />
    <!--package id="visualstudio2022enterprise" /-->
    <!--package id="visualstudio2022-workload-azure" /-->
    <!--package id="visualstudio2022-workload-netcrossplat" /-->
    <!--package id="visualstudio2022-workload-netweb" /-->
    <package id="wget" />
    <package id="windows-admin-center" />
    <!--package id="wireshark" /-->
    <package id="zap" />
    <package id="7zip" />
</packages>
